/*常用颜色尺寸*/

// 背景色
$long-background-color: #fff;
$home-background-color: #E6E6E6;
$min-background-color: #15253A;
$black-background-color: #101D2E;
$header-background-color: #0270C1;
// 字体大小
$font-size-small: 12px;
$font-size-middle: 14px;
$font-size-big: 16px;
$font-size-large: 18px;
// 字体颜色
$font-color-white: #fff;
$font-color-long: #343434;
$font-color-orange: #F2922F;
$font-color-green: #5ADAD0;
$font-color-gray: #999999;

// 边框色
$border-color-white: #fff;

$height:50px;